.header-logo {
    color: white;
    background-color: skyblue;
    font-size: 50px;
    padding: 20px;
}

.header-logo span{
    color: crimson;
}

.header-list ul {
    text-align: left;
}

.header-list li {
    text-align: center;
    list-style: none;
    padding: 40px 20px;
    font-size: large;
    color: tomato;
}

.enter {
    float: right;
    background-color: skyblue;
    color: white;
}

.enter a {
    color: white;
}

.hero-image {
    background-image: url(https://images.unsplash.com/photo-1534298261662-f8fdd25317db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
